{% extends 'base.html.twig' %}

{% block body %}
    <div class="box">
        <div class="badge badge-light">{{ tag.tag }}</div>
        <div class="box-inner">
            <h3>News</h3>

            {% for news in tag.news %}
                <a href="{{ path('main_news_view', { slug : news.slug }) }}">{{ news.title }}</a>
                <br>
            {% endfor %}
        </div>
        <hr class="break">
        <div class="box-inner">
            <h3>Playlists</h3>

            {% for playlist in tag.playlists %}
                {{ playlist.title }} <br>
            {% endfor %}
        </div>
        <hr class="break">
        <div class="box-inner">
            <h3>Videos</h3>

            {% for video in tag.videos %}
                <a href="{{ path('main_video_view', {slug : video.slug}) }}">{{ video.title }}</a> <br>
            {% endfor %}
        </div>
        <hr class="break">
        <div class="box-inner">
            <h3>Events</h3>

            {% for event in tag.events %}
                <a href="{{ path('main_event_view', {slug : event.slug}) }}"> {{ event.title }}</a>
                <br>
            {% endfor %}
        </div>
    </div>

{% endblock %}