{% extends 'admin/admin_base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<table>
    <thead>
        <th>#</th>
        <th>status</th>
        <td>role</td>
        <th>active</th>
        <th>username</th>
        <th>email</th>
        <th>registered</th>
        <th>action</th>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.statusWritten }}</td>
            <td>{{ user.role() }}</td>
            <td>{% if user.activeNow %}Online{% endif %}</td>
            <td><a href="{{ path('admin_user_view', {'username' : user.username}) }}">{{ user.username }}</a></td>
            <td>{{ user.email }}</td>
            <td>{{ user.createdAt | date("d/m/Y") }}</td>
            <td>
                <a href="{{ path('admin_user_edit', {'username' : user.username}) }}">edit</a>
                <a href="{{ path('admin_user_delete', {'username' : user.username}) }}">delete</a>
                <a href="{{ path('admin_user_block', {'username' : user.username}) }}">block</a>
                <a href="{{ path('admin_user_unblock', {'username' : user.username}) }}">unblock</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}