{% extends 'admin/admin_base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <b>ID:</b> #{{ user.id }} <br>
    <b>Twitch ID:</b> {{ user.twitchId }} <br>
    <b>Status:</b> {{ user.statusWritten }} <br>
    <b>Username:</b> {{ user.username }} <br>
    <b>Email:</b> {{ user.email }} <br>
    <b>Registered:</b> {{ user.createdAt | date('Y-m-d') }}<br>
    <b>Last Active:</b> {{ user.lastActive |date('Y-m-d') }}

    <a href="{{ path("admin_user_edit", {"username" : user.username}) }}">Edit</a>
    <a href="{{ path('admin_user_delete', {'username' : user.username}) }}">delete</a>
    <a href="{{ path('admin_user_block', {'username' : user.username}) }}">block</a>
    <a href="{{ path('admin_user_unblock', {'username' : user.username}) }}">unblock</a>

{% endblock %}