{% extends 'admin/admin_base.html.twig' %}

{% block pageheader %}Events{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-3">
            <div class="block">
                <a class="btn btn-primary" href="{{ path('admin_event_new') }}">Create new event</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="block margin-bottom-sm">
                <div class="title"><strong>Events</strong> ( {{ pagination.getTotalItemCount }}</div>
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>{{ knp_pagination_sortable(pagination, '#', 'event.id') }}</th>
                                <th>{{ knp_pagination_sortable(pagination, 'Published', 'event.published') }}</th>
                                <th>{{ knp_pagination_sortable(pagination, 'Title', 'event.title') }}</th>
                                <th>Starts</th>
                                <th>End</th>
                                <th>{{ knp_pagination_sortable(pagination, 'Created', 'event.createdAt') }}</th>
                                <th>{{ knp_pagination_sortable(pagination, 'Updated', 'event.updatedAt') }}</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for event in pagination %}
                            <tr>
                                <th scope="row">{{ event.id }}</th>
                                <td>
                                    {% if event.published %}
                                        <span class="badge badge-success">Published</span>
                                    {% else %}
                                        <span class="badge badge-light">Unpublished</span>
                                    {% endif %}
                                </td>
                                <td><a href="{{ path('admin_event_view', {'slug' : event.slug}) }}">{{ event.title }}</a></td>
                                <td>{{ event.startAt | date('Y-m-d') }}</td>
                                <td>{{ event.endAt | date('Y-m-d') }}</td>
                                <td>{{ event.createdAt | date('Y-m-d') }}</td>
                                <td>{{ event.updatedAt | date('Y-m-d') }}</td>
                                <td>
                                    <a href="{{ path('admin_event_edit', {'slug' : event.slug}) }}"><i class="fas fa-edit"></i></a>
                                    <a href="{{ path('admin_event_delete', {'slug' : event.slug}) }}"><i class="fas fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}