{% extends 'base.html.twig' %}

{% block body %}
<article class="news">
    <div class="box">
        <div class="news-cover">
            <img class="img-fluid" src="{{ (asset('media/news/') ~ news.cover) | imagine_filter('news_cover') }}">
        </div>
        <div class="box-inner">
            <h1>{{ news.title }}</h1>
            <p class="info">
                <span class="published-at">
                    {{ news.publishedAt | date('d/m/Y') }}
                </span>
            </p>
            <div class="tags">
                {% for tag in news.tags %}
                    {% if tag.slug %}
                    <a class="badge badge-light" href="{{ path('main_tag_view', {'slug' : tag.slug}) }}">
                        {{ tag.tag }}
                    </a>
                    {% endif %}

                {% endfor %}
            </div>
            <div class="content">
                {{ news.content | raw }}
            </div>
        </div>

            {% if news.event %}
            <div class="event-preview-small">
                <h3>Event</h3>
                <h2><a href="{{ path('main_event_view', {slug : news.event.slug}) }}">{{ news.event.title }}</a></h2>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="event-cover">
                            <img class="img-fluid" src="{{ (asset('media/events/') ~ news.event.image) | imagine_filter('event_thumb') }}">
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <p>{{ news.event.snippet }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p>

                        </p>
                    </div>
                </div>
            </div>
            {% endif %}
        <div class="box-inner">
        </div>
    </div>
</article>
{% endblock %}

{% block sidebar %}
    <div class="box">
        <div class="box-inner">

        </div>
    </div>
{% endblock %}