{% extends 'admin/admin_base.html.twig' %}

{% block title %}Delete - {{ video.title }}{% endblock %}

{% block body %}
    Are you sure you want to delete {{ video.title }}?
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Delete</button>
    {{ form_end(form) }}
{% endblock %}