{% extends 'admin/admin_base.html.twig' %}

{% block pageheader %}Videos{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-3">
            <div class="block">
                <a class="btn btn-primary" href="{{ path('admin_video_new') }}">New Video</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="block margin-bottom-sm">
                <div class="title"><strong>Videos</strong></div>
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th></th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Published</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for video in videos %}
                            <tr>
                                <th scope="row">{{ video.id }}</th>
                                <td><img  src="{{ video.video.smallestThumbnail.url }}"></td>
                                <td><a href="{{ path('admin_video_view', {'slug': video.slug}) }}">{{ video.title }}</a></td>
                                <td>{{ video.video.description }}</td>
                                <td>{{ video.published }}</td>
                                <td>
                                    <a href="{{ path('admin_video_delete', {'slug': video.slug}) }}">Delete</a>
                                    <a href="{{ path('admin_video_edit', {'slug': video.slug}) }}">Edit</a>
                                    <a href="{{ path('admin_video_playlist', {'slug': video.slug}) }}">Playlist</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}