{% extends 'admin/admin_base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="block">
                <div class="block-body">
                    <a class="btn btn-primary" href="{{ path('admin_video_edit', {'slug': video.slug}) }}"><i class="fas fa-edit"></i> Edit</a>
                    <a class="btn btn-primary" href="{{ path('admin_video_delete', {'slug':video.slug}) }}"><i class="fas fa-trash-alt"></i> Delete</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="block">
                <div class="block-title">
                    <h2>{{ video.title }}</h2>
                    {% include 'component/_published.html.twig' with {'published' : video.published} %}
                    <hr>
                    <p>
                        <strong>Created:</strong> {{ video.createdAt | date('d/m/Y') }} |
                        <strong>Updated:</strong> {{ video.updatedAt | date('d/m/Y') }}
                    </p>
                    <p>
                        <strong>Duration:</strong> {{ video.video.formattedDuration }}
                    </p>
                </div>
                <div class="block-body">
                    {{ video.description | raw }}
                </div>
            </div>
            <div class="block">
                <div class="block-title">
                    <h3>Playlist</h3>
                </div>
                <div class="block-body">
                    {% if video.playlist %}
                        <a href="{{ path('admin_playlist_view', {'slug' : video.playlist.slug}) }}">
                            {{ video.playlist.title }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="block">
                <div class="block-body">
                    <img class="img-fluid" src="{{ video.video.bigThumbnail.url }}">
                </div>
            </div>
        </div>
    </div>
{% endblock %}