<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Admin panel!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% if app.user %}
    <a href="{{ path('main_home') }}">Frontend</a>
    <a href="{{ path('admin_user_list') }}">Users</a> &nbsp;
    <a href="{{ path('admin_game_list') }}">Games</a> &nbsp;
    <a href="{{ path('admin_news_list') }}">News</a>  &nbsp;
    <a href="{{ path('admin_clip_list') }}">Clips</a>
    <a href="{{ path('admin_event_list') }}">Events</a>
    <a href="{{ path('admin_video_list') }}">Videos</a>
    <a href="{{ path('admin_playlist_list') }}">Playlists</a>
    <a href="{{ path('admin_tag_list') }}">Tags</a>
    <hr>
{% endif %}

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
        <hr>
    {% endfor %}
{% endfor %}

{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
