{% extends 'admin/admin_base.html.twig' %}

{% block pageheader %}Edit news{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="block">
                <div class="title"><strong class="d-block">Edit {{ news.title }}</strong></div>
                <div class="block-body">
                    {% form_theme form 'admin/form/jquery.collection.html.twig' %}

                    {{ form_start(form) }}
                    {% if news.cover %}
                        <img src="{{ (asset('media/news/') ~ cover) | imagine_filter('thumbnail') }}">
                    {% endif %}
                    {{ form_row(form.cover) }}
                    {{ form_widget(form) }}


                    <button class="btn btn-primary" type="submit">Edit</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('.tags').collection();
    </script>
{% endblock %}