<header>
    <div class="logo">
        <a href="{{ path('main_home') }}">
            <img class="bull" src="{{ asset('img/bull.png') }}">
            <img class="logo-text" src="{{ asset('img/logo.png') }}">
        </a>
    </div>

    <div class="navigation">
        <nav class="main-navigation">
            {{ knp_menu_render('main') }}
        </nav>
    </div>


    {% if not app.user %}
        <a class="twitch-login" href="{{ path('main_authentication_login') }}">
            <div class="login">
                <i class="fab fa-twitch"></i> &nbsp; SIGNUP & LOGIN
            </div>
        </a>
    {% endif %}

    <div class="search">
        <i class="fas fa-search"></i>
    </div>

    <streamer-status></streamer-status>
</header>