{% extends 'admin/admin_base.html.twig' %}

{% block pageheader %}Games{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-3">
            <div class="block">
                <a class="btn btn-primary" href="{{ path('admin_game_new') }}">New game</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="block margin-bottom-sm">
                <div class="title"><strong>Games</strong></div>
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Slug</th>
                            <th>image</th>
                            <th>buy link</th>
                            <th>website</th>
                            <th>developer</th>
                            <th>publisher</th>
                            <th>genre</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for game in games %}
                            <tr>
                                <th scope="row">{{ game.id }}</th>
                                <td>{{ game.name }}</td>
                                <td>{{ game.slug }}</td>
                                <td>{{ game.image }}</td>
                                <td>{{ game.buyLink }}</td>
                                <td>{{ game.website }}</td>
                                <td>{{ game.developer }}</td>
                                <td>{{ game.publisher }}</td>
                                <td>{{ game.genre }}</td>
                                <td>
                                    <a href="{{ path('admin_game_edit', {'slug': game.slug}) }}">Edit</a>
                                    <a href="{{ path('admin_game_delete', {'slug': game.slug}) }}">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}