{% extends 'admin/admin_base.html.twig' %}

{% block body %}
        <a href="{{ path('admin_game_new') }}">New game</a>
    <br>
    <table>
        <thead>
            <th>#</th>
            <th>Name</th>
            <th>Slug</th>
            <th>image</th>
            <th>buy link</th>
            <th>website</th>
            <th>developer</th>
            <th>publisher</th>
            <th>genre</th>
            <th>actions</th>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.name }}</td>
                <td>{{ game.slug }}</td>
                <td>{{ game.image }}</td>
                <td>{{ game.buyLink }}</td>
                <td>{{ game.website }}</td>
                <td>{{ game.developer }}</td>
                <td>{{ game.publisher }}</td>
                <td>{{ game.genre }}</td>
                <td>
                    <a href="{{ path('admin_game_edit', {'slug': game.slug}) }}">Edit</a>
                    <a href="{{ path('admin_game_delete', {'slug': game.slug}) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}